<tei2html.config>
    <text.abbr>O.I.K.; t.a.p.; d.w.s.; D.w.s.; o.s.o.; w.n.w.; Z.O.; o.a.; S.E.; S.A.; N.W.; b.v.; o.m.; d.i.; D.i.; i.d.; n.l.; c.M.; s.g.; m.m.; m.M.; N.B.; S.g.</text.abbr>

    <text.quotes>„”‚’</text.quotes>
    <images.scale>1.0</images.scale>
    <images.maxSize>100</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>